* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: rgb(0, 0, 0);
    font-family: helvetica sans-serif;
    color: rgb(190, 189, 194);
}

body h1,
h2 {
    font-family: 'Quicksand', sans-serif;
    padding: 10px 0;
    display: block;
    margin: 60px 0;
}

body p {
    text-indent: 25px;
    word-spacing: 5px;
    letter-spacing: 1px;
}


/*cabecalho inicio*/

header {
    display: block;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1 {
    display: inline-block;
    margin: 70px 0 0 100px;
    font-size: 70px;
    display: inline-block;
    font-family: helvetica sans-serif;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.navegacao ul li {
    letter-spacing: 5px;
    text-shadow: 3px 2px 2px #4F4F4F;
    font-size: 28px;
    display: inline-block;
    margin-right: 25px;
    margin: 0 10px 0 10px;
}

.navegacao a {
    color: #ccc;
    text-decoration: none;
}

.navegacao a:hover {
    color: #8FBC8F;
}

.navegacao ul {
    padding: 10px 25px 10px 25px;
    background: black;
    margin: auto;
    width: 43%;
    text-align: center;
    border: 3px solid white;
    border-radius: 2em / 5em;
}

.navegacao {
    width: 100%;
    margin-top: 300px;
}

.icones-topo ul {
    list-style-type: none;
    float: right;
}

.icones-topo li {
    display: inline;
    margin-right: 20px;
}

.icones-topo {
    position: relative;
    bottom: 80px;
    right: 50px;
}

.topo-estilo {
    display: inline-block;
    margin-left: 30px;
    float: right;
    margin: 0 30px 70px 0;
    clear: both;
}

.topo-estilo p {
    font-size: 22px;
    display: inline-block;
    margin-top: 15px;
    text-align: center;
}

.img-topo {
    background-image: url(top.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 100px;
}

.topo-estilo a {
    text-decoration: none;
}

.topo-estilo a:hover {
    text-decoration: none;
}


/*cabecalho fim*/

.container {
    text-align: center;
    padding: 0;
}


/*conteudo principal conhecimentos inicio*/

.main-content {
    background-color: #000000;
    height: 800px;
}

.main-content h1 {
    font-size: 40px;
    display: block;
    border-top: 2px solid rgb(255, 255, 255);
}

.img-conhecimentos {
    border-radius: 30px;
}


/*conteudo principal conhecimentos fim*/


/*rodape inicio*/

.rodape {
    height: 100px;
    background-color: black;
}

.rodape {
    clear: both;
    text-align: center;
}

.rodape p {
    font-size: 18px;
    margin-top: 40px;
    margin-left: 250px;
    display: inline-block;
}

.icones-rodape ul li {
    margin: 15px 30px 0 0;
    display: inline-block;
}

.icones-rodape {
    float: right;
}

.icones li:hover {
    border-bottom: 1px solid white;
}


/*rodape fim*/


/*conteudo principal sobre inicio*/

.about-mom {
    margin: 0 auto 0 auto;
    width: 1200px;
    height: 557px;
}

.main-about {
    background-color: rgb(129, 129, 129);
    height: 700px;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.main-about span h2 {
    display: inline-block;
    clear: both;
    font-size: 40px;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    margin: 50px 0;
}

.about-image {
    width: 40%;
    float: left;
    margin: -84px 0
}

.about-text {
    overflow: auto;
    text-align: center;
    color: black;
    width: 60%;
    float: right;
}

.about-text p {
    padding: 0;
    margin: 0;
    text-align: start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 20px;
}

.text {
    display: inline-block;
    line-height: 30px;
    margin: 20px 0;
    position: relative;
}

.left {
    margin: 210px auto 0 auto;
    width: 300px;
    height: 300px;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 12px;
}

.right {
    background-image: url(profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: -78px;
    bottom: 40px;
    width: 300px;
    height: 300px;
    border-radius: 12px;
}

.right img {
    width: 300px;
    height: 300px;
}


/*conteudo principal sobre fim*/


/*conteudo contato inicio*/

.contato-area {
    width: 50%;
    height: 300px;
    margin: 50px auto auto auto;
}

.contato-area ul {
    list-style-type: none;
}

.contato-area li {
    float: left;
    clear: both;
}

.contato-area p {
    position: relative;
    display: inline-block;
    top: -53px;
}

.contato-fundo {
    margin: 0 auto;
    clear: both;
    background: rgb(48, 44, 44);
    width: 100vw;
    height: 700px;
}

.contato-fundo span h2 {
    display: inline-block;
    clear: both;
    margin-top: 50px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
}

.contato-text p {
    color: white;
    font-size: 20px;
}

.contato-img img {
    margin-top: 20px;
}

.contato-img {
    float: left;
}

.contato-text {
    margin-top: 50px;
    float: right;
    box-sizing: border-box;
}

.gmail {
    display: inline-block;
    margin: 88px 100px 0 0;
    padding: 0;
}

.whats {
    display: inline-block;
    margin: 0px 288px 0 0;
    padding: 0;
}


/*conteudo contato fim*/


/*responsividade*/

@media screen and (max-width: 480px) {
    .img-conhecimentos {
        width: 300px;
        border-radius: 6px;
    }
    .main-about {
        height: 1674px;
    }
    .about-mom {
        height: 1505px;
        width: 100%;
    }
    .about-image {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    header h1 {
        margin: 25px 0;
        font-size: 39px;
    }
    body~h1,
    body~h2 {
        margin: 10px 0;
    }
    header {
        text-align: center;
    }
    .icones-topo {
        right: 0;
        top: 0;
    }
    .icones-topo ul li {
        margin: 1em 1em 0 0;
        display: block;
    }
    .navegacao {
        right: 62px;
        top: -155px;
        position: relative;
        margin: 0;
        display: inline-block;
    }
    .navegacao ul {
        font-size: 18px;
        text-align: left;
        width: 65%;
    }
    .navegacao ul li {
        display: block;
        margin: 1em 0;
        font-size: 19px;
    }
    .contato-area {
        margin: 50px 0;
    }
    .main-content {
        height: 636px;
    }
    .right {
        width: 186px;
        height: 181px;
        float: none;
        left: -51px;
    }
    .left {
        margin: 82px auto 0 auto;
        width: 186px;
        height: 181px;
    }
    .about-text {
        float: none;
        width: 100%;
        padding: 30px;
    }
    .contato-area p {
        text-indent: 0;
        word-wrap: break-word;
        padding: 20px 0;
        top: 1px;
    }
    .contato-area {
        width: 100%;
        height: 366px;
        margin: 50px auto auto auto;
    }
    .contato-area li {
        width: 200px;
        right: -40px;
        position: relative;
        text-align: end;
    }
    .icones-rodape {
        margin: 30px 0 0 37px;
        float: none;
    }
    .rodape p {
        margin: 0;
    }
    .rodape {
        top: -58px;
        position: relative;
    }
}